<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <form method="POST" action="/update">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr {% if comment.rating != "0" %}class="rated"{% endif %}>
                    <td>{{loop.index}}</td>
                    <td>{{comment.text}}</td>
                    <td><input name="rating[{{loop.index}}]" type="number" value="{{comment.rating}}" max="1" min="-1"/></td>
                    <td><a href="/delete/{{loop.index}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Save"/>
    </form>
</body>
</html>